*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-style: capitalize;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px grey;
}

.headerleft{
    width: 48%;
    margin-left: 2%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.menu>ul{
    display: flex;
    gap: 30px;
}

.menu>ul>li a{
    color : black;
    font-size: 15px;
    font-weight: bold;
}

.headerright{
    width: 45%;
    display: flex;
    margin-right: 2%;
    align-items: center;
    justify-content: space-between;
}

.headerright form{
    width: 70%;
    border: 1px solid #ccc;
    display: flex;
}

.headerright form button{
    width: 10%;
    background:transparent;
    border: none;
}

.headerright form input{
    width: 90%;
    height: 30px;
    border: none;
}

.headerright form input:hover{
    border: 3.3px solid #656565;
}

.profile ul{
    display: flex;
    gap: 16px;
}

.profile ul li{
    display: flex; 
    font-size: 12px;
    align-items: center;
    flex-direction: column;
}

.banner{
    width: 100%;
    margin-top: 50px;
}

.banner img{
    width: 100%;
}

.brandsection{
    width: 100%;
    padding: 50px 0px;
    
}

.brandsection h2{
    padding-left: 50px;   
    font-size: 25px; 
}

.brandrow{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.branditems{
    width: 17%;
    box-shadow: 0px 0px 10px 2px grey;
    margin: 15px 16px;
}

.branditems img{
    width: 100%;
}

.offerdelas{
    width: 90%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.sbcsection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.offeritemas img{
    width: 100%;
}

.sbc{
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}


.lastofferitemas img{
    width: 80%;
    margin: 5px 10px;
    align-items: center;
    justify-content: center;
}


.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: #fafbfd;
    padding: 30px;
}

.footer-col {
   width: 30%;
   margin: 20px;
   padding: 10px;
   float: left;
   height: 42px;
}

.footer-col h4 {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color:#000;
}

.footer-col ul li a {
    width: 70%;
    color: #424553;
    font-size: 13px;   
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.footer-col ul li{
    margin-bottom: 8px;
}

.app-store-buttons a {
    display: block;      
    margin-bottom: 10px;
}

.social-icons a {
    display: inline;    
    margin-right: 12px;
    font-size: 20px;
}

.footer-col .social-icons a {
    margin-right: 10px;
    font-size: 20px;
}

.footer-col:nth-child(3) {
    width: 28%;
}

footer {
    border-top: 1px solid #d4d5d9;
    padding-top: 20px;
}

.popular-searches {
    padding: 30px 50px;
    border-top: 1px solid #d4d5d9;
    margin-top: 250px;
}

.copyright-bar h4{ 
    font-size: 13px;
    font-weight: bold;
    margin: 15px;
}

.popular-searches p a{
    color: #424553;
    font-size: 13px;
}

.copyright-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 13px;
    color: #696e79;
}

.copyright-bar a{
    color: #5d97f4;
    font-weight: bold;
}

.registered-col{
    display: flex;
    flex-direction: column;
    

}

.leftpart{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.leftpart h4{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10PX;
}

.rightpart{
    float: right;
    margin-bottom: 50px;
}

.rightpart h4{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5PX;
}

.rightpart ul li{
    color: #365af7;
    font-size: 15px;
}

.borderu{
    border-top: 1px solid #d4d5d9;
    margin-top: 60px;
}

.box3 h4{
    margin: 30px;
}

.box3 p{
    color: #424553;
    font-size: 13px;
    margin: 0px 30px;
}

.box3p1{
    width: auto;
}
.box3p1{
    color: #424553;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 50px;
}



.uli1{
    list-style-type: disc;
    margin-top: 10px;
}

.uli2{
    margin: 15px;
    float: left;
}